@media all and (max-width: 758px) {
  /* NAVBAR */
  .recply{
    margin-top: 155px;
  }
  /* fine NAVBAR */

  /* SIDEBAR */
  .sidebar{
    width: 100px;
  }
  .main{
    margin-left: 100px;
  }
  header{
    left: 100px;
  }
  .navbar{
    left: 100px;
  }
  .sidebar{
    text-align: center;
  }
  .sidebar .logo img{
    transform: scale(100%);
  }
  .sidebar i{
    display: none;
  }
  .sidebar .account i{
    display: none;
  }
  .sidebar button::before{
    display: none;
  }
  .sidebar .account{
    font-size: 12px;
  }
  /* fine SIDEBAR */

  /* cotenuto MAIN */
  .recply .row.one,
  .created_for .row.one,
  .popular .row.one{
    text-align: center;
  }
  .recply .row.two,
  .created_for .row.two,
  .popular .row.two{
    justify-content: center;
  }
  /* fine cotenuto MAIN */

  /* PLAYER */
  .player .container .left img{
    float: none;
  }
  .player .container .left .txt{
    display: none;
  }
  .player .container .left p{
    margin-left: 10px;
  }
  .player i{
    font-size: 12px;
  }
  .player .container .right .bar{
    display: none;
  }
  .player .container .left .half.two{
    display: none;
  }
  .player .container .center .row.two .bar{
    width: 70%;
  }
  .player .container .left i{
    display: none;
  }
  /* fine PLAYER */
}


@media all and (max-width: 387px) {
  /* HEADER */
  header a{
    font-size: 10px;
    padding: 5px 20px;
  }
  /* fine HEADER */

  /* SIDEBAR */
  .sidebar{
    width: 50px;
    padding: 0;
  }
  .main{
    margin-left: 50px;
  }
  header{
    left: 50px;
  }
  .navbar{
    left: 50px;
  }
  .sidebar .logo img{
    transform: scale(100%);
  }
  .sidebar .menu .home a,
  .sidebar .menu .src input,
  .sidebar .menu .lib a{
    display: none;
  }
  .sidebar i{
    display: inline;
    padding-right: 0px;
  }
  .sidebar .menu button{
    display: none;
  }
  .sidebar button::before{
    display: inline;
  }
  .sidebar .menu h6{
    font-size: 10px;
  }
  .sidebar .account p{
    display: none;
  }
  /* fine SIDEBAR */

  /* cotenuto MAIN */
  /* NAVBAR */
  .show-menu-btn,
  .hide-menu-btn{
    display: block;
  }
  ul{
    position: fixed;
    width: calc(100% - 50px);
    height: 100vh;
    background: rgb(52,73,94);
    background: linear-gradient(156deg, rgba(52,73,94,1) 0%, rgba(0,0,0,1) 100%);
    top: -100%;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .navbar li{
    display: block;
    padding: 10px;
  }
  .navbar li::before{
    width: 30%;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ ul{
    top: 0;
  }
  .recply{
    margin-top: 115px;
  }
  /* fine NAVBAR */

  /* PLAYER */
  .player .container .left img{
    float: none;
  }
  .player .container .left .txt{
    display: none;
  }
  .player .container .left p{
    margin-left: 10px;
  }
  .player i{
    font-size: 10px;
  }
  .player .container .center .fa-play-circle{
    font-size: 18px;
  }
  .player .container .right .bar{
    display: none;
  }
  .player .container .left .half.two{
    display: none;
  }
  .player .container .center .row.two .bar{
    width: 90%;
  }
  /* fine PLAYER */
  /* fine cotenuto MAIN */
}

@media all and (max-width: 322px) {
  header a{
    font-size: 8px;
    padding: 5px 15px;
  }
  .player i{
    font-size: 7px;
  }
}
