@media all and (max-width: 758px) {
  /* NAVBAR */
  .recply{
    margin-top: 155px;
  }
  /* fine NAVBAR */

  /* SIDEBAR */
  .sidebar{
    width: 100px;
  }
  .main{
    margin-left: 100px;
  }
  header{
    left: 100px;
  }
  .navbar{
    left: 100px;
  }
  .sidebar{
    text-align: center;
  }
  .sidebar .logo img{
    transform: scale(100%);
  }
  .sidebar i{
    display: none;
  }
  .sidebar button::before{
    display: none;
  }
  .sidebar .account{
    font-size: 12px;
  }
  /* fine SIDEBAR */

  /* cotenuto MAIN */
  .recply .row.one,
  .created_for .row.one,
  .popular .row.one{
    text-align: center;
  }
  .recply .row.two,
  .created_for .row.two,
  .popular .row.two{
    justify-content: center;
  }
  /* fine cotenuto MAIN */

  /* PLAYER */
  .player .container .left img{
    float: none;
  }
  .player .container .left .txt{
    font-size: 10px;
    margin-left: 5px;
  }
  .player .container .left p{
    margin-left: 10px;
  }
  .player i{
    font-size: 12px;
  }
  /* fine PLAYER */
}
