@media all and (max-width: 758px) {
  /* SIDEBAR */
  .sidebar{
    width: 100px;
  }
  .main{
    margin-left: 100px;
  }
  header{
    left: 100px;
  }
  .navbar{
    left: 100px;
  }
  .sidebar{
    text-align: center;
  }
  .sidebar .logo img{
    transform: scale(100%);
  }
  .sidebar i{
    display: none;
  }
  .sidebar button::before{
    display: none;
  }







  /* fine SIDEBAR */
}
