/* parte generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background: rgb(52,73,94);
  background: linear-gradient(156deg, rgba(52,73,94,1) 0%, rgba(0,0,0,1) 100%);
  background-attachment: fixed;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
/* fine parte generale */

/* stilizzazione template */
.wrapper{
  position: relative;
  display: flex;
}

.sidebar{
  width: 200px;
  height: calc(100vh - 60px);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main{
  width: 100%;
  height: 100%;
  margin-left: 200px;
  overflow-y: auto;
  color: #fff;
}
/* fine stilizzazione template */

/* sidebar */
.sidebar .logo{
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom:1px solid #bdc3c7;
}

.sidebar i{
  padding-right: 15px;
  color: #fff;
}

.sidebar .logo img{
  transform: scale(60%);
  margin-bottom: 20px;
}

.sidebar .menu{
  width: 100%;
  height: 600px;
  padding: 30px 0;
  color: #fff;
  border-bottom:1px solid #bdc3c7;
}

.sidebar .menu .home,
.sidebar .menu .src,
.sidebar .menu .lib{
  margin-bottom: 15px;
  cursor: pointer;
}

.sidebar .menu .home a:hover,
.sidebar .menu .lib:hover{
  color: #1db954;
}

.menu .home a{
  text-decoration: none;
  color: #fff;
}

.menu .home a:hover{
  color: #fff;
}

.sidebar .menu .src input{
  border: none;
  background: none;
  color: #fff;
  width: 90px;
}

.sidebar .menu h6{
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #fff;
}

.sidebar .menu button{
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 30px;
  color: #fff;
}

.sidebar .menu button:hover,
.sidebar .menu button:hover::before{
  color: #1db954;
}

.sidebar .menu button::before{
  content: "+";
  width: 20px;
  height: 20px;
  background: #fff;
  margin-right: 10px;
  padding: 10px 15px;
  color: black;
  font-weight: 900;
  border-radius: 5px;
}

.sidebar .account{
  width: 100%;
  height: 35px;
  padding-top: 10px;
  justify-content: flex-end;
  color: #fff;
}

.sidebar .account:hover{
  color: #1db954;
  cursor: pointer;
}
/*fine sidebar */

/* inizio main */
.main h3{
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.main p{
  letter-spacing: 2px;
}

.main .card p,
.main .player .txt{
  letter-spacing: normal;
}

/* .main .card{
  transition: 0.7s;
} */

.main .card:hover{
  cursor: pointer;
  transform: scale(105%);
}

.main h5{
  padding-bottom: 10px;
  font-weight: 700;
}

.main img{
  border-radius: 5px;
}

.main .row{
  flex-wrap: wrap;
  flex: 1 1 150px;
}
/* header */
header{
  height: 75px;
  background: #000000;
  position: fixed;
  top: 0;
  left: 200px;
  right: 0;
  text-align: right;
  z-index: 9999;
}

header a{
  line-height: 75px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 30px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
}

header a:hover{
  color: #1db954;
  border-color: #1db954;
}
/* fine header */

/* navbar */
.navbar{
  /* height: 40px; */
  text-align: center;
  position: fixed;
  top: 75px;
  left: 200px;
  right: 0;
  z-index: 9999;
  background: #00000090;
}

.navbar ul{
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar li{
  display: inline-block;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.navbar li::before{
  content: "";
  width: 50%;
  position: absolute;
  border-bottom: 4px solid #1db954;
  bottom: 5px;
  left: -350px;
  transition: 0.3s all;
  border-radius: 50px;
}

.navbar li:hover:before{
  left: 50%;
  transform: translateX(-50%);
}
/* fine navbar */

/* recply(recently played) */
.recply{
  margin-top: 115px;
  padding: 20px;
}

.recply .row.one{
  padding-bottom: 30px;
}

.recply .row.two{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.recply .row.two .card{
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.recply .row.two .card img{
  margin-bottom: 15px;
}

.recply .row.two .card h5{

}

.recply .row.two .card p{

}
/* fine recply(recently played) */

/* created_For */
.created_for{
  padding: 20px;
}

.created_for .row.one{
  padding-bottom: 30px;
}

.created_for .row.two{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.created_for .row.two .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin-right: 30px;
}

.created_for .row.two .card img{
  margin-bottom: 15px;
}

.created_for .row.two .card h5{

}
/*fine  created_For */

/* popular */
.popular{
  padding: 20px;
  margin-bottom: 100px;
}

.popular .row.one{
  padding-bottom: 30px;
}

.popular .row.two{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.popular .row.two .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin-right: 30px;
}

.popular .row.two .card img{
  margin-bottom: 15px;
  border-radius: 100px;
}

.popular .row.two .card h5{

}
/* fine popular */

/* player */
.player{
  height: 60px;
  background: #34495e;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0;
  z-index: 9999;
}

.player .container{
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.player i{

}

.player i:hover{
  transform: scale(105%);
}

.player .container .left{
  width: 200px;
  height: 60px;
}

.player .container .left .half.one{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.player .container .left img{
  float: left;
}

.player .container .left .txt{
  height: 60px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.player .container .left h5{
  float: right;
  padding-bottom: 0;
}

.player .container .left p{
  font-size: 10px;
  letter-spacing: normal;
}

.player .container .left .half.two{
  height: 60px;
  float: right;
}

.player .container .left .half.two i{
  line-height: 60px;
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
}

.player .container .center{
  width: 1000px;
  text-align: center;
}

.player .container .center .row.one{
  padding-bottom: 10px;
}

.player .container .center i{
  cursor: pointer;
  padding: 0 10px;
  /* line-height: 50px; */
}

.player .container .center .fa-play-circle{
  font-size: 25px;
}

.player .container .center .row.two{
}

.player .container .center .row.two .bar{
  width: 40%;
  height: 2px;
  background: rgb(52,73,94);
  background: linear-gradient(280deg, rgba(52,73,94,1) 0%, rgba(0,0,0,1) 100%);
  margin: 0 auto;
  position: relative;
}

.player .container .center .row.two .bar::before{
  content: "0:25";
  display: inline-block;
  position: absolute;
  left: -12%;
  transform: translateY(-50%);
  font-size: 14px;
}

.player .container .center .row.two .bar::after{
  content: "4:35";
  display: inline-block;
  position: absolute;
  right: -12%;
  transform: translateY(-50%);
  font-size: 14px;
}

.player .container .right{
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player .container .right i{
  cursor: pointer;
  padding: 0 10px;
}

.player .container .right .bar{
  width: 70px;
  height: 2px;
  background: rgb(52,73,94);
  background: linear-gradient(280deg, rgba(52,73,94,1) 0%, rgba(0,0,0,1) 100%);
  margin: 0 auto;
  position: relative;
  float: right;
}
/*fine  player */








/* fine main */
